/* RESPONSIVE FONT-SIZE IN ROOT TO BE ABLE TO USE RESPONSIVE REM UNIT */
:root {
    font-size: clamp(4.68px, 1.3vw, 15.6px);
    background-color: #F3F2EE;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ALL PROPORTIONS RELATED TO THE BODY WIDTH */
body {
    height: max-content;
    width: clamp(360px, 100%, 1200px);
}

a {
    text-decoration: none;
}

/* HEADER */
header {
    width: 100%;
    aspect-ratio: 769 / 59;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 1;
}

header p {
    font-family: 'Ropa Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    filter: contrast(40%)
}

/* MAKE SURE THAT THE HEADER AREA HAS A WHITE BACKGROUND-COLOR WHEN THE VIEWPORT WIDTH IS BIGGER THAN THE BODY MAX-WIDTH */
header::before {
    content: "";
    background-color: #FFFFFF;
    width: 100vw;
    height: 5.9rem;
    position: fixed;
    top: 0;
    left: 0;
}

#linkedin_Logo {
    height: 57.63%;
    position: absolute;
    top: 22.03%;
    left: 4.03%;
}

#search_Form {
    background-color: #EEF3F7;
    border-radius: 4px;
    width: 30.56%;
    height: 57.63%;
    position: absolute;
    top: 22.03%;
    left: 8.97%;
}

/* INCREASE THE SEARCH BAR WHEN SELECTED */
#search_Form:focus-within {
    width: 39.66%;
    transition: width 0.5s;
}

/* PUT A TRANSPARENT BLACK BOX ON TOP OF MAIN AREA WHEN THE SEARCH BAR IS SELECTED */
#search_Form:focus-within::before {
    content: "";
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 5.9rem;
    left: 0;
}

/* POSITION THE LOUPE IMAGE ON THE LEFT PART OF THE SEARCH BAR */
#search_Form > img {
    height: 32.35%;
    aspect-ratio: 1;
    position: absolute;
    top: 35.29%;
    left: 1.5rem;
}

/* MAKE THE SEARCH INPUT SELECTABLE BY CLICKING IN ANY PART OF THE SEARCH BAR AND PRESENTS A TEXT SYMBOL AS MOUSE POINTER WHEN HOVERING OVER ANY PART OF THE SEARCH BAR */
#search_Form label {
    position: absolute;
    top: 0;
    left: 0;
    width: 14.47%;
    height: 100%;
    cursor: text;
}

#search_Form input {
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 14.47%;
    width: 85.53%;
    height: 100%;
}

/* CREATE A HIDDEN PAST SEARCH BOX BELOW THE SEARCH BAR */
#search_Form > div {
    border: 1px solid #EEF3F7;
    background-color: #FFFFFF;
    border-radius: 6px;
    width: 45.75rem;
    height: 500%;
    position: absolute;
    top: 101%;
    left: 0;
    display: none;
}

/* DISPLAY THE PAST SEARCH BOX WHEN THE SEARCH BAR IS SELECTED */
#search_Form:focus-within > div {
    display: initial;
}

/* DIVIDE AND ORGANIZE THE PAST SEARCH BOX INTO 2 EQUAL DIVS WITH IDS RECENT_SEARCH AND SEARCH_SUGGESTIONS RESPECTIVELY */
#recent_Search, #search_Suggestions {
    box-sizing: border-box;
    height: 50%;
    padding: 2%;
}

#recent_Search {
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

#recent_Search > div {
    display: flex;
    justify-content: space-between;
}

#recent_Search ul {
    height: 100%;
    display: flex;
}

#recent_Search li {
    height: 100%;
    width: max-content;
    box-sizing: border-box;
    padding: 1% 2%;
}

#recent_Search li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#recent_Search li div {
    width: min-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#recent_Search img {
    height: 2.539rem;
    aspect-ratio: 1;
    border-radius: 10vw;
    margin-bottom: 0.131rem;
}

#recent_Search ul p {
    margin-top: 0.131rem;
    text-align: center;
    line-height: 1.1;
    filter: contrast(100%);
}

#recent_Search > div > a > p {
    filter: contrast(100%);
    padding: .5ch 1ch;
    border-radius: 10%;
}

#recent_Search > div > a > p:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#search_Suggestions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

#search_Suggestions div {
    display: flex;
    align-items: center;
    gap: 3%;
}

#search_Suggestions div:hover::before {
    content: "";
    width: 100%;
    height: 30%;
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
}

#search_Suggestions img {
    width: 2.4%;
    aspect-ratio: 1;
}

/* POSITION THE NAVBAR IN THE RIGHT PART OF THE HEADER */
nav {
    position: absolute;
    top: 0;
    left: 50.71%;
    height: 100%;
    width: 49.29%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ORGANIZE THE NAVIGATION BAR WITH EQUAL SPACING, EXCEPT WITH THE PROFILE ICON AT THE RIGHT PART OF THE HEADER */
nav ul {
    height: 61.02%;
    width: 70.45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    height: 100%;
}

/* ADJUST THE VISIBLE SPACING BETWEEN EACH NAVIGATION SYMBOL SO THEY HAVE EQUAL SPACING BETWEEN THE SYMBOLS AND NOT BETWEEN THE TEXT BELOW EACH SYMBOL */
nav li:nth-child(2), nav li:nth-child(3) {
    margin-left: 4.87%;
}

nav li:nth-child(4) {
    margin-left: 4.12%;
}

nav a {
    height: 100%;
}

/* MAKE NAVIGATION SYMBOLS IN THE HEADER BRIGHTER WHEN NOT HOVERED OVER AND DARKER WHEN HOVERED OVER*/
nav li a div * {
    filter: contrast(40%);
}

nav li a:hover div * {
    filter: contrast(100%);
}

/* ORGANIZE EACH SYMBOL AND TEXT IN THE NAVIGATION BAR VERTICALLY */
nav li div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav img {
    margin-bottom: 0.25rem;
    height: 55.56%;
    aspect-ratio: 1;
}

nav ul p {
    margin-top: 0.25rem;
}

/* ORGANIZE THE PROFILE LINK IN THE RIGHT PART OF THE HEADER */
#profile_Link div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile_Icon {
    height: 43.03%;
    aspect-ratio: 1;
    border-radius: 10vw;
    margin-bottom: 0.131rem;
}

#profile_Link p {
    margin-top: 0.131rem;
}

#profile_Link:hover p {
    filter: contrast(100%);
}

#profile_Link {
    margin-right: 7.02%;
}

/* MAIN */
main {
    box-sizing: border-box;
    padding: 4.94% 3.38%;
    aspect-ratio: 769 / 963;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* SET A GENERAL RULE FOR FONT-FAMILY AND COLOR INSIDE MAIN */
h1, h2, h3, main p {
    font-family: 'Rambla', sans-serif;
    color: #000000;
}

#profile {
    height: 36.08%;
    width: 100%;
    background-color: #FFFFFF;
    position: relative;
}

#profile_Photo {
    border-radius: 10vw;
    width: 14.87%;
    aspect-ratio: 1;
    position: absolute;
    top: 18.44%;
    left: 4.38%;
}

#profile_Background {
    height: 42.19%;
    width: 100%;
}

#profile_Card {
    height: 57.81%;
    width: 100%;
    position: relative;
}

/* POSITION THE DIV WRAPPER WITH ALL CONTENT INSIDE THE PROFILE_CARD */
#profile_Card > div {
    width: 96.94%;
    height: 73.76%;
    position: absolute;
    top: 26.24%;
    left: 3.06%;
}

h1 {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 122.67%;
    margin-bottom: 0.5rem;
}

#profile_Card h2 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 122.43%;
    margin-bottom: 0.5rem;
}

#profile_Card p {
    font-weight: 400;
    font-size: 1.2rem;
    color: #666666;
    line-height: 122.43%;
    margin-bottom: 1.1rem;
}

/* DIV WITH 3 BUTTONS INSIDE THE PROFILE_CARD */
#profile_Card > div > div {
    width: 45.61%;
    height: 15.39%;
    display: flex;
    justify-content: space-between;
}

#profile_Card button {
    height: 100%;
    font-family: 'Rambla', sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
    border: 1px solid #666666;
    border-radius: 15px;
}

/* FIRST BUTTON INSIDE THE PROFILE_CARD */
#profile_Card button:first-child {
    width: 41.42%;
    background-color: #0B65C2;
    color: #FFFFFF;
}

#profile_Card button:first-child:hover {
    filter: brightness(70%);
}

/* SECOND AND THIRD BUTTONS IN THE PROFILE_CARD */
#profile_Card button:not(:first-child):hover {
    border-width: 2px;
}

#profile_Card button:not(:first-child) {
    background-color: #FFFFFF;
    color: #666666;
}

#profile_Card button:nth-child(2) {
    width: 32.81%;
}

#profile_Card button:nth-child(3) {
    width: 17.03%;
}

/* EXPERIENCE AND EDUCATION PARTS */
#details {
    height: 60.32%;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 4px;
}

#details h2 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 122.43%;
    position: absolute;
    top: 5.06%;
    left: 2.93%;
}

#details h3 {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 122.42%;
}

#details p {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 122.36%;
}

#details p:not(:first-of-type) {
    color: #666666;
}

#details img {
    width: 5.05%;
    aspect-ratio: 1;
    position: absolute;
    top: 0;
    left: 0;
}

/* POSITION EACH DIV WRAPPER THAT CONTAINS ALL TEXT FOR THE RESPECTIVE EXPERIENCE OR EDUCATION*/
#details a > div {
    width: 91.92%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 8.08%;
}

/* UNDERLINE THE TEXT INSIDE DETAILS WHEN HOVERED OVER, EXCEPT THE EXPERIENCES ACTIVITIES DESCRIPTIONS */
#details a:hover h3, #details a:hover > div > p {
    text-decoration: underline;
}

#experience {
    height: 59.06%;
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
    position: relative;
}

#experience ul {
    height: 80.38%;
    width: 96.65%;
    position: absolute;
    top: 19.62%;
    left: 3.35%;
}

#experience li {
    width: 100%;
    height: 46.06%;
    position: relative;
}

/* POSITION THE DIVS WRAPPERS THAT CONTAIN THE DESCRIPTION FOR EACH EXPERIENCE */
#experience div div {
    width: 99.53%;
    height: 40.17%;
    position: absolute;
    top: 59.83%;
    left: 0.47%;
}

/* ADD A BORDER LINE BETWEEN THE 2 EXPERIENCES WITH SAME WIDTH AS THE EXPERIENCE DESCRIPTION WRAPPER */
#experience li:first-child div div {
    border-bottom: 1px solid #EBEBEB;
}

/* ADJUST THE SECOND EXPERIENCE POSITION VERTICALLY SO IT IS NOT STICKED TO THE BORDER LINE BETWEEN THE 2 EXPERIENCES*/
#experience li:not(:first-child) {
    transform: translateY(16.24%);
}

#education {
    height: 40.94%;
    width: 100%;
    position: relative;
}

#education ul {
    height: 70.78%;
    width: 96.65%;
    position: absolute;
    top: 29.22%;
    left: 3.35%;
}

#education li {
    height: 50%;
    width: 100%;
    position: relative;
}